<!DOCTYPE html>
<html ng-app="propular">
<head th:replace="base :: head">
<meta charset="UTF-8"></meta>

<title>Propular:: Home</title>
</head>
<body>

	<div class="container-fluid">
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">Propeller</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseProjectList"
								data-parent="#accordion" aria-expanded="false"
								aria-controls="collapseExample">Project<span
							class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item" ng-controller="environmentController"><a class="nav-link" href="#"
						data-toggle="collapse" data-target="#collapseEnvironment"
						data-parent="#accordion" aria-controls="collapseExample"
						aria-expanded="false">Environment</a></li>
						 
				</ul>
				<ul class="navbar-nav nav-right">
					<li class="nav-item dropdown active"><a
						class="nav-link dropdown-toggle" href="http://example.com"
						id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> User Management </a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">User</a> <a
								class="dropdown-item" href="#">Role</a>
						</div></li>
					<li class="nav-item">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control" placeholder="Search"></input><span
								class="input-group-btn">
								<button class="btn btn-warning btn-sm" type="button">Search</button>
							</span>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="container-fluid" ng-controller="projectController">
		<div id="accordion" role="tablist" aria-multiselectable="true">
			<div class="card">
				<div id="collapseProjectList" class="collapse show" role="tabpanel"
					aria-labelledby="headingOne" data-ng-init="getProjects()">
					<div class="card-header">
						<div class="form-inline">
							<nav class="breadcrumb">
								<h6 class="breadcrumb-item">Project Listing</h6>
							</nav>
						</div>
					</div>
					<table class="table table-hover table-bordered ">
						<thead class="thead-default">
							<tr>
								<th ng-click="$event.stopPropagation()"><input
									type="checkbox"
									ng-click="addAllProjectsDelete(allProjectDelCheck)"
									ng-model="allProjectDelCheck"></input></th>
								<th>Project Id</th>
								<th>Name</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="project in projects" data-toggle="collapse"
								data-target="#collapseProjectDetails" data-parent="#accordion"
								aria-controls="collapseExample" aria-expanded="false"
								ng-click="viewProjectDetail(project)">
								<td scope="row" ng-click="$event.stopPropagation()"><input
									id="projectDeleteAll" type="checkbox"
									ng-click="addForDelete(project)" ng-model="project.checked"></input></td>
								<td>{{project.projectId | formatProjectId:'PROJ'}}</td>
								<td>{{project.name}}</td>
								<td>{{project.description}}</td>
							</tr>
						</tbody>
					</table>
					<div class="card-footer">
						<form class="form-inline">
							<button class="btn btn-primary btn-sm" type="button"
								data-toggle="collapse" data-target="#collapseOne"
								data-parent="#accordion" aria-expanded="false"
								aria-controls="collapseExample" ng-click="viewProjectDetail()">New</button>
							<button class="btn btn-danger btn-sm" type="button"
								data-toggle="collapse" data-target="#collapseOne"
								data-parent="#accordion" aria-expanded="false"
								aria-controls="collapseExample" ng-click="deleteProjects()">Delete</button>
						</form>
					</div>
				</div>
			</div>
			<div class="card">
				<div id="collapseOne" class="collapse hide" role="tabpanel"
					aria-labelledby="headingOne">
					<div class="card-header">
						<div class="form-inline">
							<button class="btn btn-primary btn-sm" type="button"
								data-toggle="collapse" data-target="#collapseProjectList"
								data-parent="#accordion" aria-expanded="false"
								aria-controls="collapseExample">&lt;</button>
							<nav class="breadcrumb default">
								<h6 class="breadcrumb-item active">Create Project</h6>
							</nav>
						</div>
					</div>

					<form action="#">
						<div class="form-group">
							<input type="text" class="form-control" id="projectName"
								ng-model="project.name" placeholder="Project Name"></input>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="projectDescription"
								ng-model="project.description" placeholder="Project Description"></input>
						</div>
						<div class="card-footer">
							<button class="btn btn-primary btn-sm" type="button"
								data-toggle="collapse" data-target="#collapseProjectList"
								data-parent="#accordion" aria-controls="collapseExample"
								aria-expanded="false" ng-click="createProject()">Submit</button>
							<button class="btn btn-primary btn-sm" type="button"
								data-toggle="collapse" data-target="#collapseProjectProperty"
								data-parent="#accordion" aria-controls="collapseExample"
								aria-expanded="false">Add Property Group</button>
						</div>
					</form>
				</div>
			</div>

			<div class="card" ng-controller="propertyGroupController">
				<div id="collapseProjectDetails" class="collapse hide"
					role="tabpanel" aria-labelledby="headingOne">
					<div class="card-header">
						<div class="form-inline">
							<button class="btn btn-primary btn-sm" type="button"
								data-toggle="collapse" data-target="#collapseProjectList"
								data-parent="#accordion" aria-expanded="false"
								aria-controls="collapseExample">&lt;</button>
							<nav class="breadcrumb default">
								<h6 class="breadcrumb-item active">{{projectDetail.name}}</h6>
								<h6 class="breadcrumb-item active">Property Groups</h6>
							</nav>
						</div>
					</div>
					<table class="table table-bordered table-hover">
						<thead class="thead-default">
							<tr>
								<th><input type="checkbox"
									ng-click="addAllGroupsDelete(projectDetail, allGroupsDelCheck)"
									ng-model="allGroupsDelCheck"></input></th>
								<th>Property Group Id</th>
								<th>Name</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="group in propertyGroup"
								data-toggle="collapse" data-target="#collapseProjectProperty"
								data-parent="#accordion" aria-controls="collapseExample"
								aria-expanded="false" ng-click="viewPropertyGroup(group)">
								<td scope="row" ng-click="$event.stopPropagation()"><input
									type="checkbox" ng-click="addGroupForDelete(group)"
									ng-model="group.checked"></input></td>
								<td>{{group.propertyGroupId | formatProjectId:'GROUP'}}</td>
								<td>{{group.propertyGroupName}}</td>
								<td>{{group.description}}</td>
							</tr>
						</tbody>
					</table>
					<div class="card-footer">
						<!-- <div class="form-group"> -->
						<button class="btn btn-primary btn-sm" type="button"
							data-toggle="collapse" data-target="#collapseProjectProperty"
							data-parent="#accordion" aria-controls="collapseExample"
							aria-expanded="false">Add Property Group</button>
						<button ng-if="groupsToDelete.length == 1" class="btn btn-warning btn-sm" type="button">Security Token</button>
						<!-- </div> -->
					</div>
				</div>

				<div id="accordion" role="tablist" aria-multiselectable="true">
					<div class="card">
						<div id="collapseProjectProperty" class="collapse hide"
							role="tabpanel" aria-labelledby="headingOne">
							<div class="card-header form-inline">
								<button class="btn btn-primary btn-sm" type="button"
									data-toggle="collapse" data-target="#collapseProjectDetails"
									data-parent="#accordion" aria-expanded="false"
									aria-controls="collapseExample">&lt;</button>
								<nav class="breadcrumb default">
									<h6 class="breadcrumb-item active">{{projectDetail.name}}</h6>
									<h6 ng-if="propertyGroup.propertyGroupName.trim() != ''"  class="breadcrumb-item active">{{propertyGroup.propertyGroupName}}</h6>
									<h6 class="breadcrumb-item active">Properties</h6>
								</nav>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="propertyGroupName"
									ng-model="propertyGroup.propertyGroupName"
									placeholder="Property Group Name"></input>
							</div>
							<table class="table table-bordered">
								<thead class="thead-default">
									<tr>
										<th><input type="checkbox"
											ng-click="addAllPropertyDelete(propertyGroup, allPropDelCheck)"
											ng-model="allPropDelCheck"></input></th>
										<th>Key</th>
										<th ng-controller="environmentController">
										<div class="form-inline">
										<text>Environment&nbsp;</text>
											<div class="dropdown active" data-ng-init="getEnvironments()">
											<text
												class="dropdown-toggle" href="http://example.com"
												id="envDropdownMenuLink" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false">{{environments[0].name}}</text>
												<div class="dropdown-menu"
													aria-labelledby="envDropdownMenuLink">
													<a class="dropdown-item" href="#"
														ng-repeat="env in environments">{{env.name}}</a>
												</div></div></div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="prop in propertyGroup.properties">
										<td scope="row"><input type="checkbox"
											ng-click="addPropForDelete(prop)" ng-model="prop.checked"></input></td>
										<td>{{prop.key}}</td>
										<td>{{prop.value}}</td>
									</tr>
									<tr>
										<td scope="row"></td>
										<td><input type="text" class="form-control"
											id="propertyKey" ng-model="property.key" placeholder="Key"></input></td>
										<td><input type="text" class="form-control"
											id="propertyValue" ng-model="property.value"
											placeholder="Value"></input></td>
									</tr>
								</tbody>
							</table>
							<div class="card-footer">
								<!-- <div class="form-group"> -->
								<button class="btn btn-secondary btn-sm" type="button"
									ng-click="addProperty()">+</button>
									<button class="btn btn-danger btn-sm" type="button"
									ng-click="deleteProperties($event)">-</button>
								<button class="btn btn-success btn-sm" type="button"
									data-toggle="collapse" data-target="#collapseProjectDetails"
									data-parent="#accordion" aria-controls="collapseExample"
									aria-expanded="false"
									ng-click="savePropertyGroup(projectDetail)">Save</button>
								<button class="btn btn-warning btn-sm" type="button"
									data-toggle="collapse" data-target="#collapseProjectDetails"
									data-parent="#accordion" aria-controls="collapseExample"
									aria-expanded="false"
									ng-click="savePropertyGroup(projectDetail)">Security Token</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card" ng-controller="environmentController">
				<div id="collapseEnvironment" class="collapse hide" role="tabpanel"
					aria-labelledby="headingOne" ng-init="getEnvironments()">
					<div class="card-header">
						<div class="form-inline">
							<button class="btn btn-primary btn-sm" type="button"
								data-toggle="collapse" data-target="#collapseProjectList"
								data-parent="#accordion" aria-expanded="false"
								aria-controls="collapseExample">&lt;</button>
							<nav class="breadcrumb default">
								<h6 class="breadcrumb-item active">Create Environment</h6>
							</nav>
						</div>
					</div>

					<form action="#">
						<div class="form-group">
							<input type="text" class="form-control" id="environmentName"
								ng-model="environment.name" ng-pattern="/^[a-zA-Z]*$/" placeholder="Environment Name"></input>
						</div>
						<div class="form-group">
							<input type="text" class="form-control"
								id="environmentDescription" ng-model="environment.description"
								placeholder="Environment Description"></input>
						</div>
						<div class="card-footer">
							<button class="btn btn-primary btn-sm" type="button"
								ng-click="saveEnvironment($event)">Add Environment</button>
								<button class="btn btn-primary btn-sm" type="button"
								ng-click="deleteEnvironments($event)">Delete</button>
						</div>
					</form>
					<table class="table table-striped table-hover">
						<thead class="thead-default">
							<tr>
								<th ng-click="$event.stopPropagation()"><input
									type="checkbox"
									ng-click="addAllEnvironmentForDelete(allProjectDelCheck)"
									ng-model="allProjectDelCheck"></input></th>
								<th>Name</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
						
							<tr ng-if="environments == null || environments.length &lt;= 0">
								<td class="row"></td>
								<td></td>
								<td></td>
							</tr>
							<tr ng-repeat="environment in environments">
								<td scope="row" ng-click="$event.stopPropagation()"><input
									id="environmentDeleteAll" type="checkbox"
									ng-click="addEnvironmentForDelete(environment)" ng-model="environment.checked"></input></td>
								<td>{{environment.name}}</td>
								<td>{{environment.description}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<footer th:replace="base :: footer"></footer>
</html>